#set($springXhtmlCompliant = true)
<section class="movies">
    <h1>Webbvideo</h1>
    <div class="bc-video-box">
        <video id="bc-video" 
            data-account="745456160001" 
            data-player="ac887454-ec8b-4ffc-a530-4af5c1c8e8c7" 
            data-embed="default" class="video-js bc-video" controls="">
        </video>
    </div>
    <ul class="${video_class}">
    #foreach($video in $videoList)
        #if($video.useExternalVideoLink)
            <li>
                <a href="http://video.malmo.se/?bctid=${video.id}">
                    <div class="crop">
                        <img src="${video.thumbnailURL}" alt="">
                        <div class="play"></div>
                    </div>
                    <h2>${video.name}</h2>
                </a>
            </li>
        #else
        <li class="show-inline" data-video-id="${video.id}">
            <div class="crop">
                <img src="${video.thumbnailURL}" alt="">
                <div class="play"></div>
            </div>
            <h2>${video.name}</h2>
        </li>
        #end
    #end
    </ul>
</section>